<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.Init.mapper.SalaryMapper">

	<!-- 기본급여정보 가져오기 -->
	<select id="getSalaryBasicInfo" resultType="com.Init.domain.SalaryBasicInfoVO">
		select * 
		from salary_basic_info 
		where sal_basic_id = 1
	</select>
	
	<!-- 기본급여정보 초기화 -->
	<select id="initSalaryBasicInfo">
		insert into salary_basic_info(sal_basic_id) 
		values(1)
	</select>
	
	<!-- 기본급여정보 수정 -->
	<select id="updateSalaryBasicInfo">
		update salary_basic_info 
		set hourwage=#{hourwage}, incometax_rate1=#{incometax_rate1}, incometax_rate2=#{incometax_rate2}, 
		incometax_rate3=#{incometax_rate3}, incometax_rate4=#{incometax_rate4}, incometax_rate5=#{incometax_rate5}, 
		incometax_rate6=#{incometax_rate6}, incometax_rate7=#{incometax_rate7}, incometax_rate8=#{incometax_rate8}, 
		pension_rate=#{pension_rate}, heal_ins_rate=#{heal_ins_rate}, long_ins_rate=#{long_ins_rate}, 
		emp_ins_rate=#{emp_ins_rate} 
		where sal_basic_id=1
	</select>
	
	<!-- 직급급/직무급 가져오기 -->
	<select id="getSalaryPositionJobInfo" resultType="com.Init.domain.SalaryPositionJobVO">
		select *  
		from salary_position_job
		where sal_position_job_id = 1
	</select>
	
	<!-- 직급급/직무급 정보 초기화 -->
	<select id="initSalaryPositionJobInfo">
		insert into salary_position_job(sal_position_job_id) 
		values(1)
	</select>
	
	<!-- 직급급/직무급 정보 수정 -->
	<select id="updatesalaryPositionJobInfo">
		update salary_position_job  
		set sal_position_ceo=#{sal_position_ceo}, sal_position_vice=#{sal_position_vice}, 
		sal_position_director=#{sal_position_director}, sal_position_depart=#{sal_position_depart}, 
		sal_position_team=#{sal_position_team}, sal_position_manager=#{sal_position_manager}, 
		sal_position_assist=#{sal_position_assist}, sal_position_staff=#{sal_position_staff}, 
		sal_job1=#{sal_job1}, sal_job2=#{sal_job2}, sal_job3=#{sal_job3}, sal_job4=#{sal_job4}, 
		sal_job5=#{sal_job5}, sal_job6=#{sal_job6}, sal_job7=#{sal_job7}, sal_job8=#{sal_job8}, 
		sal_job9=#{sal_job9}, sal_job10=#{sal_job10} 
		where sal_position_job_id=1
	</select>
	
	<!-- 급여산출페이지 이동 시 급여내역리스트 가져오기 -->
	<select id="getCalSalaryList" resultType="CalSalaryListVO">
		select * from salary_list order by sal_list_id desc 
	</select>
	
	<!-- 급여생성 중복방지 체크 -->
	<select id="checkCreateSalary" resultType="CalSalaryListVO">
		select * from salary_list where sal_type = #{sal_type} and year= #{year} and month=#{month} 
		limit 1  
	</select>
	
	<!-- 사번으로 직원정보 가져오기 -->
	<select id="getMemberInfoToId" resultType="MemberInfoForSalaryVO">
		select emp_id, emp_name, dname, emp_position, emp_job
		from employee e, dept d 
		where e.emp_dnum = d.dnum and emp_id = #{emp_id} 
	</select>
	
	<!-- 이름으로 직원정보 가져오기 -->
	<select id="getMemberInfoToName" resultType="MemberInfoForSalaryVO">
		select emp_id, emp_name, dname, emp_position, emp_job
		from employee e, dept d 
		where e.emp_dnum = d.dnum and emp_name = #{emp_name} 
	</select>
	
	<!-- 모달창에서 검색된 직원정보를 본 테이블로 이동(근무이력 포함하여 출력) -->
	<select id="getMemberInfoForSalary" resultType="MemberInfoForSalaryVO">
		select e.emp_id, emp_name, dname, emp_position, emp_job, emp_work_type, sum(working_time) working_time, 
		sum(overtime) overtime, sum(night_work_time) night_work_time, sum(special_working_time) special_working_time 
		from employee e, attendance_ch a, dept d 
		where e.emp_id = a.emp_id and e.emp_dnum = d.dnum and e.emp_id = #{emp_id} and check_in 
		&gt; #{check_in_start} and check_in &lt; #{check_in_end} 
	</select>
	
	<!-- 전체 직원정보 가져오기 -->
	<select id="getMemberAllInfo" resultType="MemberInfoForSalaryVO">
		select e.emp_id, emp_name, dname, emp_position, emp_job, 
		emp_work_type, sum(working_time) working_time, sum(overtime) overtime, 
		sum(night_work_time) night_work_time, sum(special_working_time) special_working_time 
		from employee e, attendance_ch a, dept d 
		where e.emp_id = a.emp_id and e.emp_dnum = d.dnum and 
		check_in &gt; #{check_in_start } and check_in &lt; #{check_in_end } 
		group by e.emp_id 
	</select>
	

</mapper>